.contain{
    background: linear-gradient(rgba(0, 118, 196, 0.6), rgba(181, 111, 209, 0.6));
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contain-form{
    background: #f0f0f0;
    padding: 10px 14px;
    border-radius: 10px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.contain-form h2{
    color: #252525;
    font-size: 28px;
    text-decoration: underline;
}
.contain-form p{
    font-size: 18px;
}
.contain-form-f{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.contain-form-f input{
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    width: 250px;
}
.contain-form-f button{
    border: none;
    padding: 12px 18px;
    background: #6d5fad;
    color: #fff;
    border-radius: 20px;
}
.contain-form-f a{
    color: rgb(160, 160, 160);
    text-decoration: underline;
}
